<%- include('header'); -%>
<div class="subpage">
    <ul class="subpage-banner banner">
        <li class="banner-item" style="background:url('images/gyzh-banner-2.png') center 0 no-repeat">
            <img src="images/gyzh-banner-1.png">
        </li>
    </ul>
    <div class="subpage-container container">
        <ul class="aside-menu">
            <li>关于中浩/About us</li>
            <li>公司简介</li>
            <li>董事长致辞</li>
            <li>组织架构</li>
            <li>发展历程</li>
        </ul>
        <div class="subpage-content">
            
        </div>
    </div>

</div>
    <%- include('footer'); -%>
        </body>

        </html>