<%- include('header'); -%>
<div class="subpage">
    <ul class="subpage-banner banner">
        <li class="banner-item">
            <img src="images/ryzz-banner.png">
        </li>
    </ul>
    <div class="subpage-container container">
        <div class="aside-menu">
            <div class="aside-menu-title">荣誉资质 / Honor</div>
            <ul class="aside-menu-list">
                <li><a href="qualification">企业资质</a> </li>
                <li class="active">荣誉证书</li>
            </ul>
        </div>
        <div class="subpage-content">
            <div class="breadcrumb">
                荣誉资质 > 证书
            </div>
            <div class="subpage-title-container">
                <div class="subpage-title">
                    证 书
                </div>
            </div>
            <div class="subpage-content-text">
                <ul class="index-banner zzbanner">
                    <li class="banner-item">
                        <a href="">
                            <img src="images/ryzz-banner1.png">
                        </a>
                    </li>
                    <li class="banner-item">
                        <a href="">
                            <img src="images/ryzz-banner2.png">
                        </a>
                    </li>
                    <li class="banner-item">
                        <a href="">
                            <img src="images/ryzz-banner3.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<%- include('footer'); -%>
<script>
    $(document).ready(function () {
      $('.zzbanner').bxSlider({
        // controls: true,
        stopAutoOnClick: true
      });
    })
  </script>  
</body>

</html>