<%- include('header'); -%>
    <div class="subpage">
        <ul class="subpage-banner banner">
            <li class="banner-item" style="background:url('images/ryzz-banner-2.png') center 0 no-repeat">
                <img src="images/ryzz-banner-1.png">
            </li>
        </ul>
        <div class="subpage-container container">
            <div class="aside-menu">
                <div class="aside-menu-title">荣誉资质 / Honor</div>
                <ul class="aside-menu-list">
                    <li><a href="/qualification">企业资质</a> </li>
                    <li class="active">荣誉证书</li>
                </ul>
            </div>
            <div class="subpage-content">
                <div class="breadcrumb">
                    荣誉资质 > 证书
                </div>
                <div class="subpage-title-container">
                    <div class="subpage-title">
                        证 书
                    </div>
                </div>
                <div class="subpage-content-text">
                    <img src="images/ryzz-zs.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <%- include('footer'); -%>
        </body>

        </html>