<%- include('header'); -%>
    <div class="subpage">
        <ul class="subpage-banner banner">
            <li class="banner-item" style="background:url('images/lxwm-banner-2.png') center 0 no-repeat">
                <img src="images/lxwm-banner-1.png">
            </li>
        </ul>
        <div class="subpage-container container contact">
            <div class="subpage-content">
                <div class="subpage-title-container">
                    <div class="subpage-title">
                        联系我们
                    </div>
                </div>
                <div class="contact-map">
                    <div class="address">
                        <div class="address-content">
                            <p> 地址：中国 · 南昌 · 红谷滩新区凤凰中大道926号中洋大厦20楼
                            </p>
                            <p> 电话（传真）：0791-83858516
                            </p>
                            <p> 邮箱：zhjs@zhonghaocg.com
                            </p>
                            <p> 网址：zhonghaocg.com
                            </p>
                            <p> 邮编：330038
                            </p>
                            <div class="qcode">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <%- include('footer'); -%>
        </body>

        </html>