<%- include('header'); -%>
    <div class="subpage">
        <ul class="subpage-banner banner">
            <li class="banner-item" style="background:url('images/qywh-banner-2.png') center 0 no-repeat">
                <img src="images/qywh-banner-1.png">
            </li>
        </ul>
        <div class="culture-container">
            <div class="container">
                <div id="canvas" class="culture-album">
                    <div id="book-zoom">
                        <div class="sj-book">
                            <% ("1".repeat(5).split("")).forEach(function(user,index){ %>
                                <div data-picid="<%-index%>">
                                    <img src="images/album/<%-index %>.png" alt="">
                                </div>
                                <% }); %>
                        </div>
                        <div class="book-right"></div>
                        <div class="book-left"></div>    
                    </div>
                    <div class="prebtn"></div>
                    <div class="nextbtn"></div>
                </div>
                <div id="slider-bar" class="turnjs-slider">
                    <div id="slider"></div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer'); -%>
        <script src="libs/jquery-ui-1.8.20.custom.min.js"></script>
        <script src="libs/hash.js"></script>
        <script src="libs/turn.min.js"></script>
        <script src="javascripts/cultrue.js"></script>
        </body>

        </html>