<%- include('header'); -%>
    <div class="subpage">
        <ul class="subpage-banner banner">
            <li class="banner-item" style="background:url('images/gyzh-banner-2.png') center 0 no-repeat">
                <img src="images/gyzh-banner-1.png">
            </li>
        </ul>
        <div class="subpage-container container">
            <div class="aside-menu">
                <div class="aside-menu-title">关于中浩/About us</div>
                <ul class="aside-menu-list">
                    <li>
                        <a href="aboutus">公司简介</a>
                    </li>

                    <li class="active">董事长致辞</li>
                    <li>
                        <a href="zzjg">组织架构</a>
                    </li>
                    <li>
                        <a href="fzlc">发展历程</a>
                    </li>
                </ul>
            </div>
            <div class="subpage-content">
                <div class="breadcrumb">
                    关于中浩 > 董事长致辞
                </div>
                <div class="subpage-title-container">
                    <div class="subpage-title">
                        董事长致辞
                    </div>
                </div>
                <div class="subpage-content-text">
                    <div class="asidepic">
                        <img src="images/gyzh-dszzc.png" alt="">
                    </div>
                    <div class="text">
                        <p>
                            大鹏一日同风起，扶摇直上九万里。首先，我谨代表中浩建设工程有限公司对长期以来支持、帮助、指导我们的各级领导和各界人士表示最崇高的敬意！对长期奋战在一线，为中浩建设发展壮大做出卓越贡献的全体员工表示衷心感谢！
                        </p>
                        <p> 百舸争流，奋楫者先；千帆竟发，勇进者胜。走过7年风雨征程，公司已从创业之初的筚路蓝缕启山林发展到今天的业务遍及多地区，在全国开设分支机构15个，年新签合同额近5亿元。
                        </p>
                        <p>公司始终坚持以人为本，诚信经营，立足江西、布局全国，不断引进先进管理经验和技术手段，加强人才队伍建设，推行标准化管理，导入信息化，并根据建筑业市场态势和政策导向，积极调整经营模式，整合优化资源，业绩逐年攀升，赢得了社会各界的肯定和赞许。</p>
                        <p>沧海横流，遥看大江东逝；岁月更迭，见证策马奔腾。中浩一直在执著的探索中勇往直前，每一步的成长都镌刻了坚韧不拔、创新求变的烙印；中浩的发展融合了企业的经营理念和价值准则，铸就了走正道、行王道的大业理想。</p>
                        <p>历史车轮滚滚向前，时代潮流浩浩荡荡。站在奋斗新时代的起点，我们勇立时代潮头，融入发展大局。</p>
                        <p>踩着奋进的鼓点，壮志在心头，扬鞭在手中，中浩建设将继续坚持自信、坚定步伐，以工匠精神打造优质工程，为人类社会建设美好家园。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <%- include('footer'); -%>
        </body>

        </html>