</div>
<div class="footer">
    <div class="container">
        <div class="link-title">
            友情链接
        </div>
        <div class="link-items-container" data-submenu="menu1">
            <div class="sub-link-item">
                <a target="_blank" href="http://www.mohurd.gov.cn">中华人民共和国住房和城乡建设部</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.jxjst.gov.cn">江西省住房和城乡建设厅</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.gdcic.gov.cn/">广东省住房和城乡建设厅 </a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.lnjst.gov.cn/">辽宁省住房和城乡建设厅</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.nmgjsw.gov.cn/">内蒙古自治区住房和城乡建设网</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.ccc.gov.cn/">重庆市城乡建设委员会 </a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.gzjs.gov.cn/">贵州省住房和城乡建设厅</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.qhcin.gov.cn/">青海省住房和城乡建设厅 </a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.nxjst.gov.cn/">宁夏回族自治区住房和城乡建设厅</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.ncjs.gov.cn/">南昌市城乡建设委员会</a>
            </div>
        </div>
        <div class="link-items-container" data-submenu="menu2">
            <div class="sub-link-item">
                <a target="_blank" href="http://www.gsxt.gov.cn/index.html">国家企业信用信息公示系统</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://rcpu.cwun.org/">全国水利建设市场信用信息平台</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://glxy.mot.gov.cn/BM/">全国公路建设市场信用信息管理系统 </a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.jxjt.gov.cn">江西交通信息网</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.jxgtt.gov.cn">江西省国土资源厅</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.jxpta.com">江西省人事考试网 </a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://urdt.cn">江西城乡建设培训中心</a>
            </div>
        </div>
        <div class="link-items-container" data-submenu="menu3">
            <div class="sub-link-item">
                <a target="_blank" href="http://www.zgjzy.org/">中国建筑业协会</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.cweun.org">中国水利工程协会</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.jzyxh.cn/">江西省建筑业协会 </a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.ncsjzy.com/">南昌市建筑业协会</a>
            </div>
        </div>
        <div class="link-items-container" data-submenu="menu4">
            <div class="sub-link-item">
                <a target="_blank" href="http://www.chinatax.gov.cn/">国家税务总局</a>
            </div>
            <div class="sub-link-item">
                <a target="_blank" href="http://www.jx-n-tax.gov.cn/">国家税务总局江西省税务局</a>
            </div>
        </div>
        <div class="link-container">
            <div class="link-items">
                <div class="link-item" data-menuid="menu1">
                    全国及各省市住建部门
                </div>
                <div class="link-item" data-menuid="menu2">
                    全国及省市信息平台
                </div>
                <div class="link-item" data-menuid="menu3">
                    建设行业协会组织
                </div>
                <div class="link-item" data-menuid="menu4">
                    国内主要财务经济类网站
                </div>
            </div>
        </div>
        <div class="qcode">
            
        </div>
    </div>
    <div class="copyright">
        Copyright@2018江西中浩建设工程有限公司 All right reserved
    </div>
</div>
<div class="back-up"></div>
<div class="share-btns social-share" data-sites="wechat,weibo,qzone">
    <!-- <a href="#" class="social-share-icon icon-weibo"></a>
    <a href="#" class="social-share-icon icon-wechat"></a>
    <a href="#" class="social-share-icon icon-qzone"></a> -->
</div>
<script src="libs/jquery.min.1.7.js"></script>
<script src="libs/jquery.share.min.js"></script>
<script src="libs/jquery.bxslider.min.js"></script>
<script src="libs/slick/slick.min.js"></script>
<script src="libs/matchMedia.js"></script>
<script src="libs/matchMedia.addListener.js"></script>
<script src="libs/enquire.min.js"></script>
<script src="libs/slideout.min.js"></script>
<script src="javascripts/mobile.js"></script>
<script src="javascripts/common.js"></script>