</div>
<footer class="footer">
    <div class="container">
        <div class="link-title">
            友情链接
        </div>
        <div class="link-items links-container">
            <div class="link-item">
                <a target="_blank" href="http://www.jxjst.gov.cn">江西省住房和城乡建设厅</a>
            </div>
            <div class="link-item">
                <a target="_blank" href="http://urdt.cn">江西城乡建设培训中心</a>
            </div>
            <div class="link-item">
                <a target="_blank" href="http://www.mohurd.gov.cn">中华人民共和国住房和城乡建设部</a>
            </div>
            <div class="link-item">
                <a target="_blank" href="http://www.gsxt.gov.cn/index.html">国家企业信用信息公示系统</a>
            </div>
            <div class="link-item">
                <a target="_blank" href="http://www.ncjs.gov.cn">南昌市城乡建设委员会</a>
            </div>
            <div class="link-item">
                <a target="_blank" href="http://www.jxgtt.gov.cn">江西省国土资源厅</a>
            </div>
            <div class="link-item">
                <a target="_blank" href="http://www.jxpta.com">江西省人事考试网</a>
            </div>
            <div class="link-item">
                <a target="_blank" href="http://www.jxjt.gov.cn">江西交通信息网</a>
            </div>
            <div class="link-item">
                <a target="_blank" href="http://www.cweun.org">中国水利工程协会</a>
            </div>
            <div class="link-item">
                <a target="_blank" href="http://rcpu.cwun.org/">全国水利建设市场信用信息平台</a>
            </div>
            <div class="link-item">
                <a target="_blank" href="http://glxy.mot.gov.cn/BM/">全国公路建设市场信用信息管理系统</a>
            </div>
        </div>
        <div class="links-selection">
            <select>
                <option value="">--友情链接--</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="copyright">
        Copyright@2018江西中浩建设工程有限公司 All right reserved
    </div>
</footer>
<div class="back-up"></div>
<div class="share-btns social-share" data-sites="wechat,weibo,qzone">
    <!-- <a href="#" class="social-share-icon icon-weibo"></a>
    <a href="#" class="social-share-icon icon-wechat"></a>
    <a href="#" class="social-share-icon icon-qzone"></a> -->
</div>
<script src="libs/jquery.min.1.7.js"></script>
<script src="libs/jquery.share.min.js"></script>
<script src="libs/slick/slick.min.js"></script>
<script src="libs/enquire.min.js"></script>
<script src="libs/slideout.min.js"></script>
<script src="javascripts/mobile.js"></script>
<script src="javascripts/common.js"></script>