<!DOCTYPE html>
<html>

<head>
  <title>
    中浩建设
  </title>
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
  <link rel="stylesheet" type="text/css" href="/libs/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/libs/slick/slick-theme.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="/images/logo.png">
</head>

<body>
<header class="header">
    <div class="container">
        <div class="logo">

        </div>
        <div class="email">
          <div class="emial-logo"></div>  云建管OA系统登录
        </div>
        <div class="menu">
            <div class="menu-item">
                <a href="/">首页</a>
            </div>
            <div class="menu-item">
               <a href="/aboutus">关于中浩</a> 
               <ul class="submenu">
                    <li><a href="/aboutus">公司简介</a> </li>
                    <li><a href="/dszzc">总经理寄语</a></li>
                    <li><a href="/zzjg">组织架构</a></li>
                    <li><a href="/fzlc">发展历程</a></li>
                </ul>
            </div>
            <div class="menu-item">
               <a href="/news">新闻中心</a> 
            </div>
            <div class="menu-item">
               <a href="/projects">业绩工程</a> 
            </div>
            <div class="menu-item">
               <a href="/culture">企业文化</a> 
            </div>
            <div class="menu-item">
               <a href="/qualification">荣誉资质</a> 
            </div>
            <div class="menu-item">
               <a href="/staff">员工天地</a> 
            </div>
            <div class="menu-item">
               <a href="/hr">人力资源</a> 
            </div>
            <div class="menu-item">
               <a href="/contact">联系我们</a> 
            </div>
        </div>
    </div>
</header>