<%- include('header'); -%>
    <div class="subpage">
        <ul class="subpage-banner banner">
            <li class="banner-item" style="background:url('images/rlzy-banner-2.png') center 0 no-repeat">
                <img src="images/rlzy-banner-1.png">
            </li>
        </ul>
        <div class="subpage-container container">
            <div class="aside-menu">
                <div class="aside-menu-title">人力资源 / HR</div>
                <ul class="aside-menu-list">
                    <li class="active">人才理念</li>
                    <li>社会招聘</li>
                </ul>
            </div>
            <div class="subpage-content">
                <div class="breadcrumb">
                    人力资源 > 人才理念
                </div>
                <div class="subpage-title-container">
                    <div class="subpage-title">
                        人才理念
                    </div>
                </div>
                <div class="subpage-content-text">
                    <p>人才理念诠释了中浩需要什么样的人，让员工成为什么样的人，建立独具中浩特色的人才模型和核心理念。</p>
                    <p>
                        <b>人才模型：人的竞争力=态度×能力×资源×学习力</b>
                    </p>
                    <p> 在中浩建设，“人的竞争力”究竟该如何体现呢？它是由“态度”、“能力”、“资源”和“学习力”的乘积决定的。其中，态度为-100～100分，能力、资源和学习力均为1～100分。
                    </p>
                    <p>
                        <b>核心理念（1421理念）</b>
                    </p>
                    <p class="item-icon">1个起点：作为人何谓正确</p>
                    <p>“作为人何谓正确”是一个人对事物做出判断的原点。在中浩建设，是不以个人得失作为判断基准，而是以对错作为判断的基准。</p>
                    <p class="item-icon">4项心智：立场；立志；自利与利他；顺手之劳也应感恩
                    </p>
                    <div class="item-tips">
                        <p>1）立场：是认识和处理问题时所处的地位和拥有的态度。在中浩建设，维护公司形象，保护公司利益是核心立场，即使有委屈，产生情绪和埋怨，当外部侵犯中浩建设利益时，需要大胆站出来维护企业形象、声誉、合法权益。</p>
                        <p> 2）立志：中浩建设拥有“行王道”的大业理想，每一个中浩人都应志存高远；志不立，天下无可成之事。
                        </p>
                        <p>3）自利与利他：利己则生，利他则久；中浩人在自己获利的同时，也必须能够帮助对方获利，这才是真正的经商之道。如果没有自利与利他的精神，那么，即使能够取得一时的成功，也不可能长久，必然会出现摩擦，进而陷入困境。</p>
                        <p>4）顺手之劳也应感恩：感恩是一种态度，不为别人，只为自己。他人顺手为自己提供了帮助或者做了一件事，给你带来便利或利益，这是应该感恩的，例如，顺风车搭载人回家。因此，一个人连对方的顺手之劳都会感恩，在别的事情面前更会感恩。</p>
                    </div>
                    <p class="item-icon">2点行动：付出不亚于任何人的努力；知行一致
                    </p>
                    <div class="item-tips">
                        <p>1）付出不亚于任何人的努力：付出比别人更多，才能收获更多，这是付出不亚于任何人的努力的原因。在中浩建设，白天同别人一起正常工作，别人下班了，自己在工作，别人休息了，依旧还在学习。通过对比可以发现努力的程度，这是“付出不亚于任何人的努力”的要诀。</p>
                        <p>2）知行一致：知是前提，行是根本，知道却不做，等于不知道，即“知而不行，实为不知；行而不知，实为未行”。</p>
                    </div>
                    <p class="item-icon">1个杜绝：小偷思维
                    </p>
                    <p>一个企业，一个组织，不可能十全十美，当我们发现漏洞时，是钻、还是不钻、还是堵？中浩建设相信首先成为优秀的人，才能成为优秀的员工。</p>

                    <p>杜绝“小偷思维”就是杜绝钻漏洞，占便宜。</p>
                </div>
            </div>
        </div>

    </div>
    <%- include('footer'); -%>
        </body>

        </html>