<%- include('header'); -%>
  <ul class="index-banner banner">
    <li class="banner-item" style="background:url('images/index-banner1-2.png') center 0 no-repeat">
      <img src="images/index-banner1-1.png">
    </li>
    <li class="banner-item" style="background:url('images/index-banner2-2.png') center 0 no-repeat">
      <img src="images/index-banner2-1.png">
    </li>
    <li class="banner-item" style="background:url('images/index-banner3-2.png') center 0 no-repeat">
      <img src="images/index-banner3-1.png">
    </li>
  </ul>
  <div class="news-section">
    <div class="container">
      <div class="section-title tc">
        新闻动态
      </div>
      <!-- <div class="section-tips tc">
        推动行业进步、引领行业发展,中浩建设愿与社会各界朋友一起，真诚合作，携手共赢，</br>
        共创美好未来！
      </div> -->
      <div class="news-list">
        <% [1,2,3].forEach(function(user,index){ %>
          <div class="news-figure">
            <img src="images/index-new<%-index+1 %>.png" alt="">
            <p> 2018年6月10日，黄水强总经理与宁波大荣建设集团领导一行交流
            </p>
            <div class="news-button tc">READ MORE</div>
          </div>
          <% }); %>
      </div>
      <a href="#" target="_blank" class="news-more">
        更多>
      </a>
    </div>
  
  </div>
  <div class="project-section section">
    <div class="section-title tc">
      业绩工程
    </div>
    <!-- <div class="section-tips tc">
      推动行业进步、引领行业发展,中浩建设愿与社会各界朋友一起，真诚合作，携手共赢，</br>
      共创美好未来！
    </div> -->
    <!--元素大于10个才做成两行，平分数目，小于10个的话做一行滚动  -->
    <div class="project-list">
      <% [1,2,3,4,5,6].forEach(function(user,index){ %>
        <div class="project-figure">
          <img src="images/index-project<%-index+1 %>.png" alt="">
          <div class="project-active">
            <div class="project-title">
              庐山西海
              <div class="read-more">
                Read More
              </div>
            </div>
          </div>
        </div>
        <% }); %>
    </div>
  </div>
  <%- include('footer'); -%>
    </body>

    </html>
    <script>
      $(document).ready(function () {
        $('.banner').slick({
          dots: true
        });
        var slickOptions = {
          touchMove: false,
          slidesToShow: 5,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 1000,
        };
        $projects=$('.project-list');
        $projects.slick(slickOptions);
        enquire.register("screen and (max-width: 1000px)", {
          match: function () {
            $projects.slick("unslick")
          },
          unmatch: function () {
            $projects.slick(slickOptions);
          }
        });
      })
    </script>
    </body>

    </html>