<%- include('header'); -%>
    <div class="subpage">
        <ul class="subpage-banner banner">
            <li class="banner-item">
                <img src="images/ryzz-banner.png">
            </li>
        </ul>
        <div class="subpage-container container">
            <div class="aside-menu">
                <div class="aside-menu-title">荣誉资质 / Honor</div>
                <ul class="aside-menu-list">
                    <li class="active">企业资质</li>
                    <li><a href="certificate">荣誉证书</a></li>
                </ul>
            </div>
            <div class="subpage-content">
                <div class="breadcrumb">
                    荣誉资质 > 资质
                </div>
                <div class="subpage-title-container">
                    <div class="subpage-title">
                        资 质
                    </div>
                </div>
                <table class="subpage-qualification-table" border="none">
                    <thead>
                        <tr>
                            <td>资质名称</td>
                            <td>资质级别</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% ("1".repeat(6).split("")).forEach(function(user,index){ %>
                            <tr>
                                <td>建筑工程施工总承包</td>
                                <td>一级</td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <%- include('footer'); -%>
        </body>

        </html>