<%- include('header'); -%>
    <div class="subpage">
        <ul class="subpage-banner banner">
            <li class="banner-item" style="background:url('images/rlzy-banner-2.png') center 0 no-repeat">
                <img src="images/rlzy-banner-1.png">
            </li>
        </ul>
        <div class="subpage-container container">
            <div class="aside-menu">
                <div class="aside-menu-title">人力资源 / HR</div>
                <ul class="aside-menu-list">
                    <li><a href="hr/">人才理念</a></li>
                    <li class="active">社会招聘</li>
                </ul>
            </div>
            <div class="subpage-content hr-invite">
                <div class="breadcrumb">
                    人力资源 > 社会招聘
                </div>
                <div class="subpage-title-container">
                    <div class="subpage-title">
                        社会招聘
                    </div>
                </div>
                <ul class="picture-list">
                        <li>
                            <a href="/projectsdetail">
                                <img src="images/rlzy-website1-zlzp.png" alt="">
                                <p class="tc">点击查看</p>
                            </a>
                        </li>
                        <li>
                            <a href="/projectsdetail">
                                <img src="images/rlzy-website2-jzyc.png" alt="">
                                <p class="tc">点击查看</p>
                            </a>
                        </li>
                        <li>
                            <a href="/projectsdetail">
                                <img src="images/rlzy-website3-qcwy.png" alt="">
                                <p class="tc">点击查看</p>
                            </a>
                        </li>
                        <li>
                            <a href="/projectsdetail">
                                <img src="images/rlzy-website4-lpw.png" alt="">
                                <p class="tc">点击查看</p>
                            </a>
                        </li>
                </ul>
            </div>
        </div>

    </div>
    <%- include('footer'); -%>
        </body>

        </html>