<%- include('header'); -%>
    <div class="subpage">
        <ul class="subpage-banner banner">
            <li class="banner-item">
                <img src="images/yjgc-banner.png">
            </li>
        </ul>
        <div class="subpage-container container">
            <div class="aside-menu">
                <div class="aside-menu-title">员工天地 / Staff World</div>
                <ul class="aside-menu-list">
                    <li class="active">员工活动</li>
                    <li>培训学习</li>
                    <li>文苑随笔</li>
                </ul>
            </div>
            <div class="subpage-content">
                <div class="breadcrumb">
                    员工天地 > 员工活动 > 活动详情
                </div>
                <div class="subpage-title-container">
                    <div class="subpage-title">
                        强基固本 开拓创新
                    </div>
                </div>
                <div class="subpage-content-text">
                    <div class="subpage-content-date">发布时间：2018-03-01</div>
                    <div class="content-img">
                        <img src="images/ygtd-active-details1.png" alt="">
                    </div>
                    <div class="content-text">
                        <p>
                            江西中浩建设工程有限公司作为国家一级综合性建筑企业，于2011年在南昌正式成立，注册资金1亿元，在全国开设分支机构十余个，业务遍布15个省、市、自治区，被住建部授予建筑工程施工总承包壹级资质、市政公用工程总承包壹级资质，还具有机电工程、消防设施、环保工程、建筑幕墙、公路工程、水利水电等多项资质。从业人员300余人，中高级专业技术职称人员30余人，拥有一、二级建造师60余人。
                        </p>
                    </div>
                    <div class="content-img">
                        <img src="images/ygtd-active-details2.png" alt="">
                    </div>
                    <div class="content-text">
                        <p>发展多年来，中浩人坚持不懈、勇于探索，参建、承建多个项目，包括：庐山西海一期岛屿规划、中金德安国际大酒店、绿地南昌国际博览城项目、资溪清污分流工程、辽宁东京城遗址改造、景德镇陶瓷大学改造工程、昆明宝象河环境整治、南新公路等，坚持用匠心铸就精品工程，赢得了社会各界的肯定和赞许。</p>
                    </div>
                    <div class="content-img">
                        <img src="images/ygtd-active-details3.png" alt="">
                    </div>
                    <div class="content-text">
                        <p>公司以“走正道，行王道”为司训，肩负“真心缔造美好家园”的使命，致力于创建员工自豪、客户放心的行业领先企业。</p>
                    </div>
                </div>
                <div class="pre-next-btn">
                    <a class="pre-btn disable">上一条</a>
                    <a class="next-btn">下一条</a>
                </div>
            </div>
        </div>

    </div>
    <%- include('footer'); -%>
        </body>

        </html>