<%- include('header'); -%>
    <div class="subpage">
        <ul class="subpage-banner banner">
            <li class="banner-item">
                <img src="images/gyzh-banner.png">
            </li>
        </ul>
        <div class="subpage-container container">
            <div class="aside-menu">
                <div class="aside-menu-title">关于中浩/About us</div>
                <ul class="aside-menu-list">
                    <li>
                        <a href="aboutus">公司简介</a>
                    </li>

                    <li>
                        <a href="dszzc">董事长致辞</a>
                    </li>
                    <li class="active">组织架构</li>
                    <li>
                        <a href="fzlc">发展历程</a>
                    </li>

                </ul>
            </div>
            <div class="subpage-content">
                <div class="breadcrumb">
                    关于中浩 > 组织架构
                </div>
                <div class="subpage-title-container">
                    <div class="subpage-title">
                        组织架构
                    </div>
                </div>
                <div class="subpage-content-text">
                    <div class="content-img">
                            <img src="images/gyzh-zzjg.png" srcset="images/gyzh-zzjg.png 1x, images/gyzh-zzjg-2x.png 2x,
                            images/gyzh-zzjg-2x.png, images/gyzh-zzjg-2x.png 4x">
                    </div>
                    <div class="content-text">
                        <p class="item-icon">
                            说明：
                        </p>
                        <p>1、监事会成员不能在董事会兼职；</p>
                        <p>2、执行委员会成员构成：董事会成员、各事业部负责人、部分核心管理层。</p>
                    </div>    
                </div>
            </div>
        </div>

    </div>
    <%- include('footer'); -%>
        </body>

        </html>