body {
  font: 14px "MicrosoftYaHei", Helvetica, Arial, sans-serif;
}

ul,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}
a{
  text-decoration: none
}
.tc {
  text-align: center;
}

.header {
  height: 122px;
  padding-top: 18px;
}

.header .logo {
  width: 176px;
  height: 54px;
  background: url("../images/logo.png") 0 0 no-repeat;
}

.header .email {
  height: 20px;
  margin-top: 17px;
  position: absolute;
  right: 0;
  top: 0;
  color: #949494;
}

.header .email .emial-logo {
  width: 30px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
  background: url("../images/yjglogo.png") center 0 no-repeat;
}

.menu {
  height: 50px;
  line-height: 50px;
  margin-top: 18px;
  color: #323233;
}

.menu-item {
  z-index: 99;
  width: 132px;
  text-align: center;
  float: left;
  position: relative;
  cursor: pointer;
  margin-right: 1px;
}

.menu-item::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  border-left: 1px dashed #aeaeae;
  right: -2px;
  top: 17px;
}

.menu-item:last-child::after {
  border: none;
}

.menu-item:hover {
  background-color: #ff7c38;
  color: #fff;
}

.menu-item a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.submenu {
  line-height: 34px;
  color: #fff;
  background-color: #ff7c38;
  z-index: 9;
  display: none;
}

.submenu li:hover {
  background-color: #e66624;
}

.menu-item:hover .submenu {
  display: block;
}

.container {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

/* footer style */

.footer {
  padding-top: 40px;
  background-color: #262b2f;
  font-size: 16px;
}

.footer .links-container {
  float: left;
  padding-bottom: 15px;
  width: 1000px;
}

.footer .links-selection {
  float: right;
  width: 200px;
}

.footer .links-selection select {
  width: 180px;
  height: 34px;
  margin-top: 35px;
  border-radius: 5px;
  font-size: 14px;
  color: #b5b7b9;
  padding: 0 10px;
}

.back-up {
  position: fixed;
  right: 50px;
  bottom: 170px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: url("../images/back-up.png") 0 0 no-repeat;
}

.link-title {
  color: #fff;
}

.link-items {
  margin-top: 15px;
  line-height: 36px;
  color: #c7c7c7;
}

.link-item {
  display: inline-block;
  margin-right: 45px;
}

.link-item a {
  color: inherit;
}

.footer .copyright {
  background-color: #192028;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

/* common styles end */

.slick-dots {
  bottom: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li.slick-active button:before {
  color: rgba(255, 255, 255, 0.6);
}

.slick-dots li button:before {
  color: rgba(255, 255, 255, 0.36);
}

.banner {
  height: 630px;
  overflow: hidden;
}

.banner-item img {
  width: 1200px;
  display: block;
  margin: 0 auto;
}

/* 新闻中心 */

.section {
  padding: 55px 0 40px;
}

.section-title {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 4px;
  color: #181513;
}

.section-tips {
  color: #808080;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.news-section {
  padding: 0 20px 17px;
  overflow: hidden;
  height: auto;
}

.news-figure {
  width: 360px;
  height: 344px;
  position: relative;
  float: left;
  margin-right: 40px;
}

.news-figure:last-child {
  margin-right: 0;
}

.news-figure img {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.news-figure p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 18px;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 25px;
  color: #2b2a2a;
  background-color: rgba(255, 255, 255, 0.9);
}

.news-figure .news-button {
  width: 140px;
  line-height: 34px;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff7c38;
  box-shadow: 0px 0px 24px 0px #e9e5e5;
  border-radius: 17px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  cursor: pointer;
}

.news-more {
  width: 56px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ff7c38;
  margin: 40px auto 0;
  display: block;
  text-decoration: none;
}

/* 企业资质 */

.qualification {
  height: 530px;
  position: relative;
  background-color: #24e62e;
}

.qua-content {
  width: 768px;
  padding: 30px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 24px 0px rgba(184, 183, 176, 0.9);
  opacity: 0.9;
}

.qua-list {
  height: 268px;
  overflow-y: scroll;
}

.qua-list::-webkit-scrollbar {
  display: none;
}

.qua-item {
  width: 276px;
  height: 35px;
  line-height: 35px;
  float: left;
  font-size: 18px;
  letter-spacing: 2px;
  color: #323c45;
  margin-left: 60px;
  padding: 0 50px 0 18px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.qua-item::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background: url("../images/li-icon.png") 0 0 no-repeat;
  background-size: 100%;
  left: 0px;
  top: 12px;
  content: "";
}

.qua-item:nth-child(2n+1) {
  margin-left: 0;
}

.que-level {
  position: absolute;
  right: 0;
  top: 0;
}

.project-section {
  padding-bottom: 0;
}

.project-list {
  height: auto;
  overflow: hidden;
}

.project-figure {
  width: 20%;
  float: left;
}

.project-figure img {
  width: 100%;
  height: 100%;
  display: block;
}

/* 二级页面样式 */

.subpage {
  background-color: #f5f5f5;
}

.subpage-banner {
  height: 580px;
}

.subpage-container {
  margin-top: 40px;
  height: auto;
}

.aside-menu {
  font-size: 18px;
  color: #333333;
  float: left;
  width: 290px;
  line-height: 60px;
  margin-right: 40px;
  background-color: #fff;
}

.aside-menu li {
  padding: 0 20px;
  cursor: pointer;
  background: url("../images/more-a.png") 93% center no-repeat;
}

.aside-menu li:hover,
.aside-menu li.active {
  background-color: #fafafa;
}

.aside-menu-title {
  padding: 0 20px;
  line-height: 80px;
  color: #f5f5f5;
  font-size: 24px;
  background-color: #ff7c38;
}

.subpage-content {
  width: 732px;
  float: right;
  background-color: #fff;
  padding: 30px 69px;
  margin-bottom: 40px;
}

.breadcrumb {
  font-size: 16px;
  color: #000;
}

.subpage-title-container {
  text-align: center;
  font-size: 40px;
  color: #010101;
}

.subpage-title {
  margin: 20px 0 30px 0;
  display: inline-block;
  padding: 0 15px;
  position: relative;
  line-height: 1.1;
}

.subpage-title::before,
.subpage-title::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
}

.subpage-title::before {
  top: 0;
  left: 0;
  background: url("../images/title-left.png") left top no-repeat;
}

.subpage-title::after {
  bottom: 0;
  right: 0;
  background: url("../images/title-right.png") right bottom no-repeat;
}

.subpage-content-text img {
  margin: 30px 0;
}
.subpage-content-text img:first-child {
  margin-top: 0;
}

.subpage-content-text p {
  text-indent: 2em;
  line-height: 25px;
}

/* 关于中浩 */

.subpage-content-text .asidepic {
  float: left;
  margin-right: 25px;
}

.item-icon::before {
  width: 10px;
  height: 10px;
  background: url("../images/li-icon.png") 0 0 no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block
}

.fzlc {
  background: #fff url("../images/gyzh-bg.png") 0 bottom no-repeat;
  padding-bottom: 161px;
}

/* 企业文化相册 */

.culture-container {
  background: url("../images/qywh-bg.jpg") center 0 no-repeat;
}

.culture-container .container {
  /* background: url("../images/111.jpg") center 0 no-repeat; */
  background: url("../images/culture-bg.jpg") center 0 no-repeat;
  height: 856px;
}

.culture-album {
  width: 906px;
  height: 704px;
  margin: 60px auto 0;
}

#book-zoom {
  -ms-transition: -ms-transform 1s;
  transition: transform 1s;
}

.sj-book {
  width: 906px;
  height: 615px;
}

.animated {
  transition: margin-left 0.2s ease-in-out;
}

.sj-book .page-wrapper {
  -ms-perspective: 2000px;
  perspective: 2000px;
}

.culture-album .prebtn,
.culture-album .nextbtn {
  position: absolute;
  top: 300px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background: url("../images/arrow-left.png") 0 0 no-repeat;
}

.culture-album .prebtn {
  left: 20px;
}

.culture-album .nextbtn {
  right: 20px;
  background: url("../images/arrow-right.png") 0 0 no-repeat;
}

.turnjs-slider {
  width: 1156px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 auto 20px;
}

.turnjs-slider .thumbnail {
  width: 115px;
  height: 85px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  top: -100px;
  left: -17px;
  display: none;
  -ms-transform: translate3d(0px, 50px, 0px) scale(0.1, 0.1);
  -ms-transition: -ms-transform 0.2s;
  -ms-border-radius: 5px;
  transform: translate3d(0px, 50px, 0px) scale(0.1, 0.1);
  transition: transform 0.2s;
  border-radius: 5px;
}

.no-transition {
  -webkit-transition: none;
  -ms-transition: none;
}

.turnjs-slider .thumbnail div {
  width: 100px;
  margin: 7px;
  height: 70px;
  background-color: white;
}

.turnjs-slider .ui-state-hover .thumbnail {
  display: block;
  opacity: 0;
}

.turnjs-slider .ui-state-active .thumbnail {
  display: block;
  opacity: 1;
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.ui-state-disabled {
  cursor: default !important;
}

.turnjs-slider .ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.turnjs-slider .ui-slider {
  position: relative;
  text-align: left;
}

.turnjs-slider .ui-slider-handle {
  position: absolute;
  z-index: 0;
  width: 80px;
  height: 8px;
  cursor: default;
  border-radius: 5px;
}

.turnjs-slider .ui-slider-horizontal {
  height: 8px;
  width: 1076px;
  margin-left: 39px;
}

.turnjs-slider .ui-slider-horizontal .ui-slider-handle {
  margin-left: -40px;
  margin-top: -1px;
}

/* Interaction states
----------------------------------*/

.turnjs-slider .ui-slider-handle {
  border: 1px solid white;
  background-color: black;
  opacity: 0.2;
  display: block;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.turnjs-slider .ui-state-hover {
  opacity: 0.4;
}

.turnjs-slider .ui-state-active {
  opacity: 1;
}

/* 新闻中心 */

.news-list li {
  position: relative;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}
.news-list li:hover .news-content,.news-list li:hover .slim{
  background-color: #fafafa
}
.news-list li:hover .news-title{
  color: #ff7c38;
  text-decoration: underline;
}
.news-list .news-pic {
  float: left;
  width: 340px;
}

.news-list .news-content {
  float: right;
  width: 380px;
}

.news-list .news-title {
	font-size: 16px;
	line-height: 40px;
  color: #000000;
}
.slim.news-title{
  font-size: 12px;
}

.news-list .news-date {
	color: #a8a8a8;
}

.news-list .news-text {
  margin-top: 14px;
	font-size: 12px;
	color: #a8a8a8;
}
.subpage-content-date{
  text-align: center;
	line-height: 40px;
  color: #b3b3b3;
  margin-bottom:-10px;
}
.pagination {
  margin-top: 20px;
  text-align: center;
  color: #999;
}
.pagination a{
  font-size: 12px;
  color: inherit;
  margin-right: 10px;
  text-decoration: none
}
.pagination .cur{
  color: #ff7c38;
}